<p>Employee details!</p>
<!-- <table>
    <tr>
        <td>Employee Id:</td>
        <td>{{emp.id}}</td>
    </tr>
    <tr>
        <td>Employee Name:</td>
        <td>{{emp.name}}</td>
    </tr>
    <tr>
        <td>Gender:</td>
        <td>{{emp.gender}}</td>
    </tr>
    <tr>
        <td>Salary:</td>
        <td>{{emp.salary}}</td>
    </tr>
    <tr>
        <td>Date of Joining:</td>
        <td>{{emp.dateOfJoining}}</td>
    </tr>
</table> -->
<table class="table table-hover table-info table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Index</th>
            <th>Employee Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Salary</th>
            <th>Date of Joining</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of empArray; index as i;">
            
                <td>{{i+1}}</td>
                <td>{{e.id}}</td>
                <td>{{e.name}}</td>
                <td>{{e.gender}}</td>
                <td>{{e.salary}}</td>
                <td>{{e.dateOfJoining}}</td>
        </tr>
    </tbody>
</table>
